* {margin: 0px}
.botonEnviar {background: rgb(129, 156, 31); height: 35px; border-radius: 5px; border-color:unset;box-shadow: unset;}
.botonBorrar {background: rgb(129, 156, 31); height: 35px; border-radius: 5px; border-color:unset;box-shadow: unset;}
.botonResumen {background: rgb(129, 156, 31); height: 35px; border-radius: 5px; border-color:unset;box-shadow: unset;}
.navbarDeAbajo {background: rgb(17, 42, 75)}
