* {margin: 0px}
.parrafoAguas {text-align:right ; margin: 25% 10% 40% 50%; position: relative;}
.botonEnviar {background: rgb(129, 156, 31); height: 35px; border-radius: 5px; border-color:unset;box-shadow: unset;}
.navbarDeAbajo {background: rgb(17, 42, 75)}
